.container          { width:1190px;}
.ie7.sp-horizontal .sp-previous-arrow,
.ie8.sp-horizontal .sp-previous-arrow {
    border-right: 20px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent
}
.ie7.sp-horizontal .sp-next-arrow,
.ie8.sp-horizontal .sp-next-arrow {
    border-left: 20px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent
}
.ie7.sp-vertical .sp-previous-arrow,
.ie8.sp-vertical .sp-previous-arrow {
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent
}
.ie7.sp-vertical .sp-next-arrow,
.ie8.sp-vertical .sp-next-arrow {
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent
}

.side-wrap .ie7.sp-horizontal .sp-previous-arrow,
.side-wrap .ie8.sp-horizontal .sp-previous-arrow {
    border-right: 5px solid #666;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent
}
.side-wrap .ie7.sp-horizontal .sp-next-arrow,
.side-wrap .ie8.sp-horizontal .sp-next-arrow {
    border-left: 5px solid #666;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent
}
.side-wrap .ie7.sp-vertical .sp-previous-arrow,
.side-wrap .ie8.sp-vertical .sp-previous-arrow {
    border-bottom: 5px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}
.side-wrap .ie7.sp-vertical .sp-next-arrow,
.side-wrap .ie8.sp-vertical .sp-next-arrow {
    border-top: 5px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md-20{ float: left;}
.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}
.col-md-20{ width: 20%;}
.col-md-offset-12 { margin-left: 100%; } .col-md-offset-11 { margin-left: 91.66666667%; } .col-md-offset-10 { margin-left: 83.33333333%; } .col-md-offset-9 { margin-left: 75%; } .col-md-offset-8 { margin-left: 66.66666667%; } .col-md-offset-7 { margin-left: 58.33333333%; } .col-md-offset-6 { margin-left: 50%; } .col-md-offset-5 { margin-left: 41.66666667%; } .col-md-offset-4 { margin-left: 33.33333333%; } .col-md-offset-3 { margin-left: 25%; } .col-md-offset-2 { margin-left: 16.66666667%; } .col-md-offset-1 { margin-left: 8.33333333%; } .col-md-offset-0 { margin-left: 0%; }
.modal-dialog {width: 600px;margin: 30px auto;}
.btn{behavior: url(css/ie-css3.htc); z-index: 2; position: relative;}
.vml_border_radius{  z-index: -1 !important;}
